body {
  margin: 0;
}

#root {
  display: flex;
}

.col-1 {
  width: 50%;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 4vw;
  display: flex;
  text-align: center;
  transition-duration: 2s;
  
}

.col-2 {
  width: 50%;
  min-height: 100vh;
  padding: 4vw 4vw 0;
}


/* ********************************** */

.projects-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 15px 0;
  border-bottom: 1px solid #000;
  background: #fff;
  z-index: 101;
}

.projects-header_text {
  display: block;
}

.project {
  border-bottom: 2px dashed grey;
  
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-header_title {
  font-weight: normal;
}

.project-header_technologies {
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
}


/* ********************************** */



.view-project_title {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 90px;
  animation: myAnim 1s ease 0s 1 normal forwards;
  background-color: mistyrose;
  background-attachment: initial;
}

@keyframes myAnim {
	0% {
    opacity: 0;
		transform: translateX(0);
	}

	100% {
    opacity: 1;
		transform: translateX(10px);
	}
}

@keyframes imgAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



.viewImg {
  position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    animation: imgAnim 2s ease 0s 1 normal forwards;
}




.info-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  margin: 10px 0 0 0;
}

.info-description {
  margin: 0;
  padding: 0 0 0 30px;
}

.list-item-link {
  text-decoration: none;
  color: #000;
}

.bold {
  font-weight: bold;
  display: block;
  padding: 0 10px 0 0;
}

