#root {
  display: flex;
}

.col-1 {
  width: 50%;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 4vw;
  display: flex;
  background: #0000EE;
  color: #fff;
  text-align: center;
  transition-duration: 2s;
}

.col-2 {
  width: 50%;
  min-height: 150vh;
  padding: 4vw 4vw 0;
}


/* ********************************** */

.projects-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 25px 0;
  border-bottom: 1px solid #000;
  background: #fff;
  z-index: 101;
}

.projects-header_text {
  display: block;
}

.project {
  border-bottom: 5px dashed green;
  
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.project-header_title {

}

.project-header_technologies {
  padding: 0 0 0 10px;
}


/* ********************************** */



.view-project_title {
  position: absolute;
  font-size: 5rem;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100px);
	}
}
